<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5"  parallel="classes">
  <test thread-count="1" name="Customer Registration">
   <parameter name="Browser" value="Chrome"/>
    <classes>
      <class name="MAF.Tests.TC001_UserRegistration"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="1" name="Customer Login">
   <parameter name="Browser" value="Chrome"/>
    <classes>
      <class name="MAF.Tests.TC002_UserLogin"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
